toggldesktop/

# Emacs org lock files
\#*.org\#

userscripts/*
!userscripts/.gitkeep

node_modules

# the symlinked-activity log
logfile
# ... and the log of any output that comes from the script
cronlog
