toggldesktop/

# Emacs org lock files
\#*.org\#

userscripts/*
!userscripts/.gitkeep

node_modules

# the symlinked-activity log
logfile
# ... and the log of any output that comes from the script
cronlog

# Their fork swallows errors so this is to unswallow those errors
active-win/
